.graphic {
    background: white;
}
.graphic .rectangle {
    stroke: #717369;
    fill-opacity: 0.4;
    fill: #717369;
}
.graphic .triangle {
    stroke: #717369;
    fill-opacity: 0.4;
    fill: #717369;
}
.graphic .quarter {
    stroke:#717369;
    fill-opacity: 0.4;
    fill:#717369;
}
.graphic svg {
    height: 300px;
    width: 300px;
}