.result-table{
    margin: 20px 0 0 0;
    color: white;
    width: 650px;
    border-spacing: 2px;
    border: 2px solid white;
    border-collapse: collapse;
}
.result-table th{
    background: #717369;
    height: 50px;
    border: 1px solid white;
    font-family: "Andale Mono", sans-serif;
    font-size: 23px;

}
.result-table td {
    height: 30px;
    text-align: center;
    background: grey;
    border: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 17%;
    padding: 5px;
    font-family: "Andale Mono", sans-serif;
    font-size: 19px;
}