.wrapper{
    display: flex;
}
.leftt{
    width: 35vw;
}
@media (min-width: 1193px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1193px) and (min-width: 834px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 834px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .pass-button {
        background-color: #717369;
        border: 1px solid black;
        width: 50%;
    }

    .pass-button:hover {
        background-color: #8a7f7f;
    }
    .pass-button:disabled{
        background-color: grey;
    }

    .reg-button {
        background-color: #717369;
        border: 1px solid black;

        width: 50%;

    }
    .reg-button:hover {
        background-color: #8a7f7f;
    }
    .reg-button:disabled {
        background-color: grey;
    }


    #shadow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
        padding: 1em;
        box-shadow:
                0 1px 4px rgba(0, 0, 0, .3),
                -23px 0 20px -23px rgba(0, 0, 0, .8),
                23px 0 20px -23px rgba(0, 0, 0, .8),
                0 0 40px rgba(0, 0, 0, .1) inset;
    }


}