.pointParamsPanel {
    text-align: center;
    margin-top: 15px;
    width: 400px;
    height: 350px;
    background: linear-gradient(#eee4e4, #ffffff);
    border-radius: 10px;
    border: #eec9c9 solid 1px;

}



.pointParamsPanel label {
    margin-left: 5px;
}


.text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 200px;
}

.button_container {

    text-align: center;
    margin: 0 auto;
    width: 150px;
    border: 1px black solid;
    border-radius: 20px;
}
.button_container button:hover {
    color: black;
}

@media (max-width: 834px) {
    .pointParamsPanel {
        width: 300px;
    }
}